In [1]:
table = 8


for i in range(1 , 20):
    print('table' , 'X' , i , '=' , table * i)

table X 1 = 8
table X 2 = 16
table X 3 = 24
table X 4 = 32
table X 5 = 40
table X 6 = 48
table X 7 = 56
table X 8 = 64
table X 9 = 72
table X 10 = 80
table X 11 = 88
table X 12 = 96
table X 13 = 104
table X 14 = 112
table X 15 = 120
table X 16 = 128
table X 17 = 136
table X 18 = 144
table X 19 = 152